{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->
          {% for post in page_obj.object_list %}
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid">
              </a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ post.timestamp_created|date:"d M | Y" }}</div>
                <div class="category">
                  {% for category in post.categories.all %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="{{ post.get_absolute_url }}">
                <h3 class="h4">{{ post.title }}</h3>
              </a>
              <p class="text-muted">{{ post.overview }}</p>
              <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ post.author }}</span></div></a>
                <div class="date"><i class="icon-clock"></i> {{ post.timestamp_created|timesince }} ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if page_obj.number > 1 %}
            <li class="page-item"><a href="?page=1&q={{ query|urlencode }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}&q={{ query|urlencode }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a href="#" class="page-link active">{{ page_obj.number }}</a></li>
            {% if page_obj.number < page_obj.paginator.num_pages %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}&q={{ query|urlencode }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}&q={{ query|urlencode }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </main>

    {% include 'sidebar.html'%}

  </div>
</div>

{% endblock %}