{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-4 offset-4 mt-3 mb-3">
    <h4 class="mb-3 text-center">Register</h4>
    <form action="{% url 'accounts:signup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}
        <input type="submit" class="btn btn-success form-control mt-3" value="Register">
    </form>

    {% for message in messages %}
    <div class="alert alert-danger mt-1 mb-1" role="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endblock %}